{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!--Category section start-->
                   
                    <div class="row">
                      <p class="text-center fs-3">OUR <b class="text-mycolor1">CATEGORY</b></p>
                      <div class="col-sm-10 mx-auto">
                        <div class="row py-2">
                          <!--category first start-->
                          <div class="col-sm-3">
                            <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
                            <h4 class="text-center">Online Training</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint beatae, saepe unde, repellat ratione rerum sunt, ducimus vero velit facere dolores magni? Obcaecati quidem cumque magnam consequatur nisi fugiat?</p>
                          </div>
                          <!--category first end-->
                            <!--category first start-->
                          <div class="col-sm-3">
                            <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
                            <h4 class="text-center">Online Training</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint beatae, saepe unde, repellat ratione rerum sunt, ducimus vero velit facere dolores magni? Obcaecati quidem cumque magnam consequatur nisi fugiat?</p>
                          </div>
                          <!--category first end-->
                            <!--category first start-->
                          <div class="col-sm-3">
                            <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
                            <h4 class="text-center">Online Training</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint beatae, saepe unde, repellat ratione rerum sunt, ducimus vero velit facere dolores magni? Obcaecati quidem cumque magnam consequatur nisi fugiat?</p>
                          </div>
                          <!--category first end-->
                            <!--category first start-->
                          <div class="col-sm-3">
                            <p class="text-center"><i class="fa-solid fa-house catic"></i></p>
                            <h4 class="text-center">Online Training</h4>
                            <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam sint beatae, saepe unde, repellat ratione rerum sunt, ducimus vero velit facere dolores magni? Obcaecati quidem cumque magnam consequatur nisi fugiat?</p>
                          </div>
                          <!--category first end-->
                        </div>
                      </div>
                    </div>

                  <!--Category section end-->

                 

                   <!--Category 2 section start-->

                   <div class="row py-2">
                    <p class="text-center fs-3"> TOP <b class="text-mycolor1">CATEGORIES</b></p>
                    <div class="col-sm-10 mx-auto">
                      <div class="row py-3">
                        <div class="col-sm-4">
                          <div class="card mx-auto shadow-lg w-75">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">A fifth item</li>
    <li class="list-group-item">A sixth item</li>
  </ul>
</div>
                        </div>
                        <div class="col-sm-8">
                          <!--Category Right Start-->
                          <div class="card mb-3 border border-0 shadow-lg">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/inspiration.jpeg' %}" class="img-fluid rounded-start catimg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Category Right end-->
 <!--Category Right Start-->
                          <div class="card mb-3 border border-0 shadow-lg">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/inspiration.jpeg' %}" class="img-fluid rounded-start catimg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Category Right end-->
 <!--Category Right Start-->
                          <div class="card mb-3 border border-0 shadow-lg">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/inspiration.jpeg' %}" class="img-fluid rounded-start catimg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<!--Category Right end-->
                        </div>
                      </div>
                    </div>
                   </div>

                   <!--Category 2 section end-->

                   <!--Popular Category Section start-->
                    <div class="row py-2">
                       <p class="text-center fs-3"> POPULAR <b class="text-mycolor1"> CATEGORY</b></p>
                       <div class="col-sm-10 mx-auto">
                        <div class="row">
                            <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                             <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                             <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                             <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                             <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                             <!--Popular Category first start--> 
                            <div class="col-sm-2 py-3">

                              <div class="card mx-auto shadow-lg p-2 popularcat">
  <img src="{% static 'images/barcelona.jpeg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h6 class="card-title text-center mb-0">Card title</h6>
    
  </div>
</div>
                            </div>
                            <!--Popular Category first end--> 
                        </div>
                       </div>
                    </div>

                   <!--Popular Category Section end-->
{% endblock %}