{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-sm-10 mx-auto">
        <!--search bar starts-->
        <div class="row mt-4">
            <h3>Search Any Job that you need...</h3>
            <div class="col-sm-12 shadow p-3 mb-5 bg-white rounded">
            <div class="col-sm-12">

              <form method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" name="skill" placeholder="Search by skills..." class="form-control">
                    </div>
                      <div class="col-sm-4">
                        <input type="text" name="location" placeholder="Search by location/city..." class="form-control">
                    </div>
                      <div class="col-sm-4">
                        <input type="text" name="exp" placeholder="Search by experience..." class="form-control">
                    </div>
                    <div class="col-sm-1 mt-3">
                    <input type="submit" class="btn btn-danger" value="search now">
                    </div>      
                </div>
                </form>
            </div>

            </div>
        </div>
         <!--search bar ends-->
         <div class="row">
            <div class="col-sm-12">
                <p class="text-center fs-3">Billions of job available <b class="text-mycolor1">are here</b></p>
               <p class="text-center"><small class="text-secondary text-center">(Find your best suites one)</small></p> 
            </div>
            <!--search by job category start-->
            <div class="col-sm-4">
                <ul class="list-group">
                 <li class="list-group-item  bg-mycolor1 text-light" aria-current="true">Search via Job Category</li>
                 {% for c in cat %}
                 <li class="list-group-item " aria-current="true"> 
                  <a href="/jobs/?cid={{c.id}}" style="text-decoration: none;color:black">     
                  <img src="../{{c.picture}}" style="height: 60px; width: 60px;">
                    &nbsp;&nbsp;&nbsp;{{c.name}}</a>
                 </li>
                 {% endfor %}
               </ul>
            </div>
            <!--search by job category start-->
            <!--job listing start-->
            <div class="col-sm-8">
                 <div class="row">
{% for j in job %}
                     <!--listing card start-->
            <div class="col-sm-12">
                <div class="card mb-3 mx-auto shadow-lg">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../{{j.company.logo}}" class="img-fluid rounded-start listingimg" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title"> {{j.title}}</h6>
        <p class="m-1"><b>{{j.company}}</b></p>
        <p class="card-text m-0 listingtext">
          <i class="fa-solid fa-location-dot"></i> City : {{j.city}}</p>
        <p class="card-text m-0 listingtext"><i class="fa-solid fa-briefcase">
        </i> {{j.exp}}</p>
         <span class="listingtext">{{j.skills|slice:80}}...</span>
         <span class="badge bg-warning">{{j.category}}</span> 
       <span class="text-secondary"><small>Salary :{{j.minsalary}} To {{j.maxsalary}}
       </small>   </span>  
        <div>
            <span class="float-start"><i class=" fa-solid fa-calendar"></i>{{j.startdate}}</span>
        <span><a class="float-end listingbtn" href="/details/?jid={{j.id}}">&rarr;</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
            </div>
             <!--listing card end-->
{% endfor %}
                 </div>
            </div>
            <!--job listing end-->
         </div>
    </div>
</div>

{% endblock %}