 {% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="row py-2">
    <p class="text-center fs-3">OUR <b class="text-mycolor1">SERVICES</b></p>
  <div class="col-sm-10 mx-auto">
    <div class="row py-3">
      <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-file serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b> Interview Preparation Tools</b></span> <br/>
              <span>Get sample questions& mock tests
</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-bars serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Employer Dashboard</b></span> <br/>
              <span>Post jobs& manage applications
 </span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-thumbs-up serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Internship Opportunities </b></span> <br/>
              <span>Discover internships and fresher-level 
</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-book serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b> Career Guidance & Blogs </b></span> <br/>
              <span> Resources on resume writing
</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
    </div>
     <div class="row py-3">
      <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-arrow-up-right-dots serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Application Tracking </b></span> <br/>
              <span>Track status of your job applications</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-user serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b> Candidate Search </b></span> <br/>
              <span>Employers can search and connect</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-mobile serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Mobile-Friendly Access </b></span> <br/>
              <span>Use our platform anytime on mobile</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-file-video serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Career Advice & Blog</b></span> <br/>
              <span>Read expert articles on resume writing</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
    </div>
     <div class="row py-6">
      <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-circle-check serviceic"></i>
            </div>
            <div class="col-10 ps-3">
              <span> <b> Verified Job Listings </b></span> <br/>
              <span>Browse thousands of genuine</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-file-pdf serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b> Resume Upload & Builder </b></span> <br/>
              <span>Upload your resume </span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-magnifying-glass serviceic"></i>
            </div>
            <div class="col-10 ps-2">
              <span> <b>Advanced Job Search </b></span> <br/>
              <span>Use filters like location & skills</span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
        <!--service card start-->
      <div class="col-sm-3">
        <div class="card mx-auto shadow-lg border border-0 p-2">
          <div class="row g-0 ">
            <div class="col-2 ps-2">
             <i class="fa-solid fa-bell serviceic"></i>
            </div>
            <div class="col-10 ps-3">
              <span> <b>Instant Job Alerts </b></span> <br/>
              <span>Get real-time notifications </span>
            </div>
          </div>
        </div>
      </div>
       <!--service card end-->
    </div>
  </div>
 </div>
{% endblock %}